.product{
    display: flex;
    flex-direction: column;
    border-bottom: 0.025ch dotted red;
    border-top: 0.25ch dotted red;
    row-gap: 0px;
}
#addbtn{
    margin-bottom: 15px;
}
#removebtn{
    margin-top: 2px;
    float: right;
}
#editbtn{
    margin-top: 2px;
    float: right;
    margin-right: 5px;
}
#container{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto auto;
}
.col-md-4{
    width: 80%;
}
h1{
    font-weight: bold;
}
h5{
    font-weight: bold;
}
label{
    font-weight: bold;
}